<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="AP" value="false"/>
        <server name="PAYDISINI_API_KEY" value="ad6f09f0d6320b34d569adbbf3e16b5b"/>
    </php>
</phpunit>